{% extends 'base.html.twig' %}

{% block title %}Dooz Escape Game - Voyagez à travers le temps !{% endblock %}

{% block body %}
    <p>
        {% trans %}Publié le{% endtrans %} ...
        {% trans %}Commentaires{% endtrans %} ...
    </p>
{% endblock %}
