<section id="footer_map">
    <div id="footer_map_left">
        {% if app.request.locale == 'fr' %}
            <p class="text-center">Dooz, c'est <span class="fs-4">3</span> adresses et <span class="fs-4">3</span> univers différents</p>
        {% elseif app.request.locale == 'en' %}
            <p class="text-center">Dooz, is <span class="fs-4">3</span> addresses and <span class="fs-4">3</span> different universes</p>
        {% endif %}
        <img src="{{ asset('img/base/logos/univers-dooz.png') }}" alt="logos Dooz">
        <div class="footer_map_left_dotted"></div>
        <div class="footer_map_left_address">
            <a target="_blank" class="link_underline py-3" href="https://www.google.com/maps/place/19+Rue+des+Magasins,+67000+Strasbourg/@48.5907868,7.740175,17z/data=!3m1!4b1!4m5!3m4!1s0x4796c84634635945:0xc48d2f781fc7ba8!8m2!3d48.5907868!4d7.740175">
                19 rue des Magasins 67000 STRASBOURG
            </a>
            <a target="_blank" class="link_underline py-3" href="https://www.google.com/maps/place/12+Rue+des+Magasins,+67000+Strasbourg/@48.5895735,7.7390319,17.75z/data=!4m5!3m4!1s0x4796c84880507e2f:0x5adb72c0f85bf69e!8m2!3d48.5896953!4d7.7398768">
                12 rue des Magasins 67000 STRASBOURG
            </a>
            <a target="_blank" class="link_underline py-3" href="https://www.google.com/maps/place/20+Rue+du+Commerce,+67550+Vendenheim/@48.6611713,7.7265889,17z/data=!3m1!4b1!4m5!3m4!1s0x4796b87e1f972a91:0x287d9885794ff288!8m2!3d48.6611713!4d7.7265889">
                20 rue du commerce 67550 VENDENHEIM
            </a>
        </div>
    </div>
    <div id="footer_map_right" class="flex-grow-1">
    </div>
</section>