<h4 class="title_presentation">{% trans %}RESERVER VOS PLACES{% endtrans %}</h4>
<div id="forescape_reservation" class="forescape_room_reservation">
    <div class="forescape" data-subdomain="doozescape" data-type="bookings"></div>
</div>