<h4 class="title_presentation">DESTROY ROOM</h4>
<div class="forescape_room_reservation">
    <div class="forescape" data-subdomain="doozdestroyroom" data-type="bookings" data-rooms="5fbbcd9db1e07b4779780ffe,5fbbd791b1e07b47797813ba,5fcf9791d216063de439a979,5fcf984dcf693c3dc717c904"></div>
</div>