{% if app.request.locale == 'fr' %}
    <a href="{{ path('reservation') }}"><img src="{{ asset('img/base/icons/reserver.png') }}" class="resa_gifts_icons mx-2" alt="Réserver"></a>
{% endif %}
{% if app.request.locale == 'en' %}
    <a href="{{ path('reservation') }}"><img src="{{ asset('img/base/icons/booking.png') }}" class="resa_gifts_icons mx-3" alt="Booking"></a>
{% endif %}