<header style="align-content: center;">
    <b>DOOZ ESCAPE GAME - STRASBOURG & VENDENHEIM</b><br><br><br>
</header>

{% block body %}{% endblock %}

<br><br>
<footer style="align-content: center;">



    <ul class="d-flex justify-content-center m-0">
        <li class="px-2"><a target="_blank" href="https://www.facebook.com/DoOzEscape/"><img src="{{ asset('img/base/share_icons/facebook.png') }}" alt="lien facebook"></a></li>
        <li class="px-2"><a target="_blank" href="https://www.instagram.com/doozescapegamestras/"><img src="{{ asset('img/base/share_icons/instagram.png') }}" alt="lien instagram"></a></li>
        <li class="px-2"><a target="_blank" href="https://twitter.com/DoozEscapeStras"><img src="{{ asset('img/base/share_icons/twitter.png') }}" alt="lien twitter"></a></li>
    </ul>

    <div style="align-content: center">
        Nos adresses :<br>
        <a target="_blank"
           href="https://www.google.com/maps/place/19+Rue+des+Magasins,+67000+Strasbourg/@48.5895735,7.7390319,17.75z/data=!4m5!3m4!1s0x4796c84880507e2f:0x5adb72c0f85bf69e!8m2!3d48.5896953!4d7.7398768">
            STRASBOURG 19 rue des Magasins
        </a>
        <a target="_blank"
           href="https://www.google.com/maps/place/12+Rue+des+Magasins,+67000+Strasbourg/@48.5895735,7.7390319,17.75z/data=!4m5!3m4!1s0x4796c84880507e2f:0x5adb72c0f85bf69e!8m2!3d48.5896953!4d7.7398768">
            STRASBOURG 12 rue des Magasins
        </a>
        <a target="_blank"
           href="https://www.google.com/maps/place/20+Rue+du+Commerce,+67550+Vendenheim/@48.6611713,7.7265889,17z/data=!3m1!4b1!4m5!3m4!1s0x4796b87e1f972a91:0x287d9885794ff288!8m2!3d48.6611713!4d7.7265889">
            VENDEHEIM 20 rue du commerce
        </a>
    </div>

</footer>